<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Formulário de cadastro</title>
</head>
<body>
<form class="formulario" action="/cadastrar" method="POST">
    <h2>Preencha o formulário:</h2>

    <label>Nome do filme: </label>
    <input type="text" name="nome"> <br><br>

    <label>Sinópse: </label>
    <input type="text" name="sinopse"> <br><br>

    <label>Imagem: </label>
    <input type="text" name="imagem"> <br><br>

    <label>Genero: </label>
    <input type="text" name="genero"> <br><br>

    <label>Duracao: </label>
    <input type="text" name="duracao"> <br><br>

    <label>Data de lançamento: </label>
    <input type="text" name="dataLancamento"> <br><br>

    <label>Data de Criação: </label>
    <input type="text" name="dataDeCriacao"> <br><br>

    <button>Cadastrar</button>
</form>

<hr>
<p><a href="/filmes">Ver filmes</a></p>

</body>
</html>